
%h1.title Cards
%ul
  %li
    %a{"href" => "/news/magazine-23444082"} News Popup
  %li
    %a{"href" => "/sport/0/athletics/23321624"} Sport Popup
  %li
    %a{"href" => "/news/uk-england-hampshire-22869788"} 'Did You Know?' Box
  %li
    %a{"href" => "https://dl.dropboxusercontent.com/u/20259837/People-photos/click.html"} Photo Example
