#bbccookies {
  display: none;
}

.story-body .ldp-highlight {
  display: inline !important;
  position: relative;
  color: #1F4F82;
  font-weight: bold;
}

.story-body .ldp-person-icon {
  display: inline-block;
  margin: 0 0 -3px 4px;
  width: 16px;
  height: 16px;
  background: url("/img/person-icon.png");
  cursor: pointer;
}

.ldp-popover .loading {
  background: url("/img/loading.gif");
  width: 32px;
  height: 32px;
  margin: 30px auto;
}

.ldp-popover h5 {
  margin-bottom: 4px;
}

.ldp-popover-container {
  position: absolute;
  z-index: 10000;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
}

.ldp-popup-content {
  word-wrap: break-word;
  margin-top: -10px;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 12px;
}

.arrow {
  width: 0; 
  height: 0;
  position: relative;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -100px;
}

.arrow-up {
  border-bottom: 10px solid #ccc;
}

.arrow-up-2 {
  bottom: 0px;
  top: -9px;
  border-bottom: 10px solid #fff;
}

.ldp-person .image {
  float: left;
  width: 104px;
  height: 104px;
  background: #ddd;
  margin-right: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ldp-person .text {
  float: left;
  width: 149px;
}

.ldp-person .name {
  font-size: 14px;
  font-weight: bold;
  color: #1F4F82;
  margin-bottom: 2px;
}

.ldp-creative-works {
  float: left;
  clear: left;
}

.ldp-creative-works ul, .ldp-creative-works li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ldp-creative-works ul {
  margin-top: 0px;
  margin-bottom: -5px;
}

.ldp-creative-works ul li {
  margin-bottom: 4px;
}

.ldp-creative-works ul li a .cw-title {
  color: #1F4F82 !important;
}

.ldp-relations {
  float: left;
  clear: left;
}

.ldp-relations .relation-type {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #666;
}

.ldp-relations ul {
  margin-bottom: -3px;
}

.ldp-relations ul li {
  margin-bottom: 3px;
}

.ldp-popover .separator {
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  margin: 13px 0 13px 0 !important;
  float: left;
  clear: left;
  width: 268px;
}

.person-card {
    margin-right: 32px;
    margin-top: 10px;
    width: 200px;
    float: left;
}

.person-photo {
    background-color: #EDEDED;
    width: 225px;
    height: 127px;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.person-name-caption {
    background-color: #FFF;
    height: 20px;
    width: 100px;
    color: #3F6894;
    position: relative;
    padding-top: 2px;
    top: 89px;
    font-weight: bold;
}

.person-blurb {
    padding-bottom: 5px;
}

.person-fact {
    border-top: 1px solid #d8d8d8;
    padding: 5px 0 5px 0;
}

.person-wrapper {
}

.did-you-know {
    padding: 8px;
    clear: both;
    background-color: #3F6894;
    margin-bottom: 10px;
}

.did-you-know h3 {
    margin-bottom: 5px;
}

.did-you-know h3, .did-you-know p {
    color: #FFF;
}

.other-people-header {
    border-top: 1px solid #d8d8d8;
    padding-top: 10px;
}

.other-people > .person-photo {
    background-color: #EDEDED;
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-bottom: 10px;
    margin-right: 16px;
}

.other-people .person-name-caption {
    top: 62px;
}

.other-people {
    margin-top: 8px;
}

.clearfix {
  clear: both;
}

.did_you_know
