#bbccookies {
  display: none;
}

.story-body .ldp-highlight {
  display: inline !important;
  position: relative;
  color: #1F4F82;
  font-weight: bold;
}

.story-body .ldp-person-icon {
  display: inline-block;
  margin: 0 0 -3px 4px;
  width: 16px;
  height: 16px;
  background: url("/img/person-icon.png");
  cursor: pointer;
}

.ldp-popover-container {
  position: absolute;
  z-index: 10000;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
}

.ldp-popup-content {
  word-wrap: break-word;
  margin-top: -10px;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 12px;
}

.arrow {
  width: 0; 
  height: 0;
  position: relative;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -100px;
}

.arrow-up {
  border-bottom: 10px solid #ccc;
}

.arrow-up-2 {
  bottom: 0px;
  top: -9px;
  border-bottom: 10px solid #fff;
}

.ldp-person .image {
  float: left;
  width: 104px;
  height: 104px;
  background: #ddd;
  margin-right: 15px;
}

.ldp-person .text {
  float: left;
  width: 149px;
}

.ldp-person .name {
  font-size: 14px;
  font-weight: bold;
  color: #1F4F82;
  margin-bottom: 2px;
}

.ldp-creative-works {
  float: left;
  clear: left;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 15px;
}

.ldp-creative-works ul, .ldp-creative-works li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ldp-creative-works ul {
  margin-top: 0px;
  margin-bottom: -5px;
}

.ldp-creative-works ul li {
  margin-bottom: 4px;
}

.ldp-creative-works ul li a .cw-title {
  color: #1F4F82 !important;
  font-size: 13px;
}

.clearfix {
  clear: both;
}
